@model DogGo.Models.ViewModels.WalksViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WalksViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayDate" class="control-label"></label>
                <input asp-for="DisplayDate" class="form-control" />
                <span asp-validation-for="DisplayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayDuration" class="control-label"></label>
                <input asp-for="DisplayDuration" class="form-control" />
                <span asp-validation-for="DisplayDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WalkerId" class="control-label"></label>
                <input asp-for="WalkerId" class="form-control" />
                <span asp-validation-for="WalkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WalkerName" class="control-label"></label>
                <input asp-for="WalkerName" class="form-control" />
                <span asp-validation-for="WalkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogId" class="control-label"></label>
                <input asp-for="DogId" class="form-control" />
                <span asp-validation-for="DogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogName" class="control-label"></label>
                <input asp-for="DogName" class="form-control" />
                <span asp-validation-for="DogName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
